name: Mirror Tools (Fixed Checksums)

on:
  schedule:
    - cron: '0 3 * * 1'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  mirror_tools:
    name: Sync Tools
    runs-on: ubuntu-latest
    steps:
      - name: Download
        run: |
          mkdir -p dist
          wget -O dist/warp_endpoint "https://raw.githubusercontent.com/badafans/better-cloudflare-ip/master/shell/cf.sh"
          wget -O dist/warp_plus_linux_amd64 "https://gitlab.com/rwkgyg/CFwarp/-/raw/main/point/warp_plus.sh"
          wget -O dist/warp_plus_linux_arm64 "https://gitlab.com/rwkgyg/CFwarp/-/raw/main/point/warpplusa.sh"
          chmod +x dist/*

      - name: Generate Individual Checksums
        run: |
          cd dist
          for file in *; do
            sha256sum "$file" > "$file.sha256"
          done

      - name: Publish to 'tools-latest'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "tools-latest"
          name: "Helper Tools"
          body: "Synced on $(date)"
          make_latest: false
          files: dist/*
